<!-- About Section -->
	<section id="portfolio">
<!--
    <section class="success" id="about">
-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>Who Are the RethinkDevs?</h2>
                    <!-- hr class="star-light" -->
                </div>
            </div>
            <div class="row">
				<div class="col-lg-12">
				<p>
					RethinkDevs are a group of RethinkDB experts who can help you:
				</p>
				<ul class="fa-ul">
  					<li><i class="fa-li fa fa-check-square"></i>RethinkDB server setup & maintenance</li>
					<li><i class="fa-li fa fa-check-square"></i>RethinkDB security</li>
					<li><i class="fa-li fa fa-check-square"></i>RethinkDB training</li>
					<li><i class="fa-li fa fa-check-square"></i>RethinkDB app development</li>
				</ul>
				<p>RethinkDB is an excellent open source database, and we are your full service RethinkDB specialists for all your RethinkDB setup, maintenance and
					integration.</p>
				</div>
            </div>
        </div>
    </section>
